.header-color  {
  background: #ffe259;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* gradient code is from https://uigradients.com/ - this is the gradient called "mango" */
}


.landing-grid {
  background: #ffe259;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* gradient code is from https://uigradients.com/ - this is the gradient called "mango" */
  text-align: center;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
}

/* This bit styles the avatar that is currently on the landing page */
.avatar-img {
   height: 200px;
   border: 3px solid white;
   border-radius: 50%;
 }

 /* We style the h1 heading on the landing page with these next two snippets */
 .banner-text {
   background-color: black;
   opacity: .60;
   width: auto;
   margin: 1em;
   border-radius: 15px;
 }

 /* We styled the banner itself in the previous snippet. Now we have to target the H1 element */
 .banner-text h1 {
   font-size: 70px;
   font-weight: bold;
   color: white;
 }

/* Added a horizontal line on the landing page banner. We can style it here */
.banner-text hr {
  border-top: 5px dotted white;
  width: 75%;
  margin: auto;
}

/* again, we are styling the paragraph element under the banner so we do this */
.banner-text p {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  color: white;
  font-size: 25px;
  padding: 1em;
}

/* after adding social media links, we need to style the icons */
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

/* to style the icons themselves, we need to target the i tag */
.social-links i {
  color: wheat;
  font-size: 2em;
  padding: 10px;
}

.projects-grid {
  display: flex;
}

/* contact page's styling */
.contact-body {
  margin: auto;
  background: lightsalmon;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: auto;
  background: whitesmoke;
  color: black;
  border: 2px solid palevioletred;
}

.contact-grid h2 {
  font-family: 'Pacifico', cursive;
}

.contact-grid p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 25px;
  padding-right: 5rem;
}

.contact-line {
  font-family: 'Open Sans', sans-serif;
  border-top: 5px dotted grey;
  width: auto;
  color: salmon;
  font-size: 25px;
}

/* Resume styling portion */
.resume-right-col {
  background: darksalmon;
  color: white;
}

.resume-container {
  text-align: left;
  padding-left: 5px;
  justify-content: center;
  width: auto;
  height: auto;
  color: white;
}
.resume-line {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid darkorange;
  border-bottom: 5px dotted lightpink;
  width: auto;
  color: white;
}

.resume-heading-a {
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.resume-heading {
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}

.resume-download {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}

/* Aboutme styling portion */
.aboutme-grid {
  text-align: center;
  justify-content: center;
  width: 85%;
  height: auto;
  background: whitesmoke;
  color: black;
  border: 2px solid palevioletred;
}

.aboutme-grid h2 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.aboutme-grid h3 {
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
}